chardet
click
dash>=2.14.0
dash-auth
decorator
Flask
Flask-Compress
Flask-SeaSurf
idna
ipython-genutils
itsdangerous
Jinja2
jsonschema
jupyter-core
MarkupSafe
nbformat
numpy>=1.21.0
pandas
PeakUtils
plotly
python-dateutil
pytz
requests
retrying
scipy>=1.7.0
six
traitlets
urllib3
Werkzeug
mne
matplotlib